.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.product-picture{
    margin-bottom: -40px;
    border-radius: 8px;
}
.product-picture-selected{
    border-radius: 8px;
    border: 2px solid var(--selected-product-border-color);
}
.product-buttons{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.button{
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 90px;
    border: none;
}
.button-primary{
    border: 1px solid #AD8A85;
    background-color: white;
}
.button-secondary{
    color: white;
    background-color: var(--selected-product-color);
    justify-content: space-between;
}
.cart-action{
    width: 160px;
    height: 44px;
}
.cartbutton-icon{
    display: flex;
    width: 25px;
    height: 25px;
    padding: 4px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--selected-product-color);
    border: 1px solid white;
    cursor: pointer;
}
.product-content{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.product-name{
    font-size: 0.875rem;
    font-weight: 400;
}
.product-title{
    font-size: 1rem;
    font-weight: 600;
}
.product-price{
    font-size: 1rem;
    color: var(--selected-product-color);
    font-weight: 600;
}