.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../public/assets/pattern_red_background.png);
    background-size: cover;
    padding: 8px 24px;
    gap: 16px;
}

.logo{
  width: 56px;
height: 56px;
}

.h1{
  color: #504D48;
  font-size: 2.5rem;
  width: 100px;
  align-self: flex-start;
font-family: "Jomhuria";
line-height: 59%;
}
